/********** Base styles **********/
  * {
    box-sizing: border-box;
  }

  body {
    font-size=100%;
    font-family: Helvetica;
  }

  h1, h2 {
    text-align: center;
  }

  .row{

  }

  section.box {
    background-color: gray;
    border: 1px dashed black;
    color: white;    
    font-size: 75%;
    margin-bottom:  30px;
    overflow: 	hidden	;	
    padding: 10px 15px 35px 10px;
    position: relative;
  }

  section button {
  	font-size: 50%;
   background-color: gray;

  	position: absolute;
  	bottom: 5px;
  	right: 5px;
  }

  button.totop {
  	background-color: gray;
  	color: white;
  	height:	25px;
  	padding: 0;
   text-align: center;	
   width: 	25px;
   vertical-align: 	middle;	
  }